.App {
  text-align: center;
  margin: 20px;
}

body {
  font-family:
  'namusquare';
}


.accordion-header {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
}
.accordion-header:hover {
  background-color: #eee;
}

.accordion-body {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
}

.acco-header-inner {
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
}

.acco-header-img {
  margin-left: 30px;
  width: 30px; 
  height:30px;
}

.acco-header-icon {
  flex:1;
  font-size: 25pt; 
  text-align: end;
  margin-right: 30px;
  margin-bottom: 10px;
}

.acco-pen-img {
  margin-left: 15px;
  width: 17px; 
  height:17px;
}

.buttonStyle {
  display: flex;
  background: #fff;
  width: 100px;
  height: 40px;
  align-self: center;
  margin-left: 60px;
}

.buttonStyle:hover {
  background-color:rgb(196, 226, 235);
}

.toggle_icon {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 8px;
}

.room-name-style {
  width: 100px;
  height: 25px;

}
